* {
    margin: 0px;
    padding: 0px;
}

input {
    width: 600px;
    height: 40px;
}

.brandDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    background-color: rgba(110, 110, 238, 255);
    /* padding:50px; */
    padding-top: 30px;
    padding-bottom: 70px;

}

.brand {
    margin-top: 50px;
}

.searchIcon {
    width: 30px;
    margin-left: -40px;
}

.question {
    background-color: rgba(221, 221, 221, 255);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.questionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.description {
    text-align: center;
}

.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.votesIcons {
    width: 50px;
}
.votesIcons:hover{
    opacity: 50%;
}
h4 {
    text-align: center;
    background-color: rgba(221, 221, 221, 255);
    /* margin-bottom: 10px;. */
}

.answersDiv {
    background-color: rgba(221, 221, 221, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;
}

.answer {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.answerContent {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.viewComment {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

button {
    color: white;
    background-color: rgba(110, 110, 238, 255);
    padding: 0.5rem;
    border: transparent;
    border-radius: 0.5rem;
    text-align: center;
}

button:hover {
    background-color: black;

}

.submitAnswers {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}


textarea {
    height: 250px;
}

.submitAnswerBtn {
    width: 20%;
}