<div class="navbar">
    <div class="logo">
        <img class="logo" src="../../../../assets/icons/qa.png">
    </div>
    <div class="links">
        <a routerLink="">HOME</a>
        <a routerLink="/aboutus">ABOUT US</a>
        <a routerLink="/allQuestions">VIEW ALL QUESTIONS</a>
    </div>

    <div class="buttons">
        <button routerLink="/askquestion">ASK A QUESTION</button>
        <button routerLink="/profile">PROFILE</button>
        <!-- <button *ngIf="(isLoggedIn$ | async)" routerLink="" (click)="logout()">LOG OUT</button> -->
        <button routerLink="">LOG OUT</button>
    </div>

</div>
<!-- <h3> Welcome To Your Profile Michelle</h3> -->
<div class="mainContent">
    <div class="userProfile">
        <div class="personalDetails">
            <img class="userImg" src="" alt="userImg">
            <p></p>
            <p></p>
        </div>

        <div class="analytics">
            <h4>ANALYTICS</h4>
            <div class="totalQuestions">
                <!-- <img class="analyticsIcons" src="../../../../assets/icons/question.png"> -->
                <div class="analyticsText">1 Total Questions</div>
            </div>
            <div class="totalComments">
                <!-- <img class="analyticsIcons" src="../../../../assets/icons/question.png"> -->
                <div class="analyticsText">0 Total Comments</div>

            </div>
            <div class="totalAnswers">
                <!-- <img class="analyticsIcons" src="../../../../assets/icons/question.png"> -->
                <div class="analyticsText">0 Total Answers</div>
            </div>

        </div>

        <div class="updateprofile">
            <button>UPDATE PROFILE</button>
        </div>

    </div>
    <div class="allQuestionsDiv">
        <div class="mostRecent">
            <h3>Your Most Recent Question</h3>
        </div>

        <div class="question">
            <div class="votes">
                <img class="votesIcons" src="../../../../assets/icons/thumb-up.png" title="Upvote this Question">
                <p>0</p>
                <img class="votesIcons" src="../../../../assets/icons/thumb-down.png" title="Downvote this Question">
            </div>
            <div class="questionContent">
                <div class="title">
                    <h3> </h3>
                </div>
                <div class="description">

                </div>
                <div class="viewQuestion">
                    <h5>0 answers</h5>
                    <button routerLink="/question">VIEW QUESTION</button>
                    <!-- <div class="tag">SQL</div> -->
                    <div class="iconsClass">
                        <img class="icons" src="../../../../assets/icons/edit.png" title="Edit this Question">
                        <img class="icons" src="../../../../assets/icons/delete.png" title="Delete this Question">
                    </div>

                </div>
            </div>
        </div>
        <div class="mostRecent">
            <h3>Your Most Popular Question</h3>
        </div>
        <div class="question">
            <p class="text"><i>Your Most Popular Question Will Appear Here</i></p>
            <!-- <div class="votes">
                <img class="votesIcons" src="../../../../assets/icons/thumb-up.png" title="Upvote this Question">
                <p>0</p>
                <img class="votesIcons" src="../../../../assets/icons/thumb-down.png" title="Downvote this Question">
            </div> -->
            <!-- <div class="questionContent">
                <div class="title">
                    
                </div>
                <div class="description">
                 
                </div>
                <div class="viewQuestion">
                    <h5>0 answers</h5>
                    <button routerLink="/question">VIEW QUESTION</button>
                    <div class="iconsClass">
                        <img class="icons" src="../../../../assets/icons/edit.png" title="Edit this Question">
                        <img class="icons" src="../../../../assets/icons/delete.png" title="Delete this Question">
                    </div>
                </div>
            </div> -->
        </div>
        <div class="mostRecent">
            <h3>All of Your Questions</h3>
        </div>
        <div class="question">
            <div class="votes">
                <img class="votesIcons" src="../../../../assets/icons/thumb-up.png" title="Upvote this Question">
                <p>0</p>
                <img class="votesIcons" src="../../../../assets/icons/thumb-down.png" title="Downvote this Question">
            </div>
            <div class="questionContent">
                <div class="title">

                </div>
                <div class="description">

                </div>
                <div class="viewQuestion">
                    <h5>0 answers</h5>
                    <button routerLink="/question">VIEW QUESTION</button>
                    <div class="iconsClass">
                        <img class="icons" src="../../../../assets/icons/edit.png" title="Edit this Question">
                        <img class="icons" src="../../../../assets/icons/delete.png" title="Delete this Question">
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>