<app-header></app-header>

<div class="topmain">

    <div class="brandDiv">
        <div class="brand">
            <h1>THE ANSWER HUB</h1>
        </div>
        <p>Where Your Curiosity Meets Solutions</p>
        <div class="searchdiv">
            <input placeholder="Search Questions Here">
            <img class="searchIcon" src="../../../../assets/icons/search.png">
        </div>
       
    </div>

    <div class="ontop">
        <div class="topask">
            <img class="icons" src="../../../../assets/icons/question.png">
            <p>Share Your Questions</p>
            <button class="ask" routerLink="/askquestion">ASK</button>
        </div>

        <div class="topask">
            <img class="icons" src="../../../../assets/icons/technology.png">
            <p>Discover Solutions</p>
            <button class="ask" routerLink="/register">JOIN</button>
        </div>

    </div>
</div>

<div class="popularquestionsdiv">
    <div class="popularquestionsdivtext">
        <h3>Popular Questions</h3>
    </div>

    <div class="question">
        <div class="votes">
            <img class="votesIcons" src="../../../../assets/icons/thumb-up.png">
            <p>50</p>
            <img class="votesIcons" src="../../../../assets/icons/thumb-down.png">
        </div>
        <div class="questionContent">
            <div class="title">
                <h3> How Do I undo the most recent commits in git</h3>
            </div>
            <div class="description">
                How Do I undo the most recent commits in git
            </div>
            <div class="viewQuestion">
                <h5>10 answers</h5>
                <button routerLink="/question">VIEW QUESTION</button>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="votes">
            <img class="votesIcons" src="../../../../assets/icons/thumb-up.png">
            <p>50</p>
            <img class="votesIcons" src="../../../../assets/icons/thumb-down.png">
        </div>
        <div class="questionContent">
            <div class="title">
                <h3> How Do I undo the most recent commits in git</h3>
            </div>
            <div class="description">
                How Do I undo the most recent commits in git
            </div>
            <div class="viewQuestion">
                <h5>10 answers</h5>
                <button routerLink="/question">VIEW QUESTION</button>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>