input {
    width: 600px;
    height: 40px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

button {
    color: white;
    background-color: rgba(110, 110, 238, 255);
    padding: 0.5rem;
    border: transparent;
    border-radius: 0.5rem;
    text-align: center;
}

button:hover {
    background-color: black;

}

.topmain {
    width: 100%;
    height: 70vh;
    background-color: rgba(110, 110, 238, 255);
}

.brandDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;

}

.brand {
    margin-top: 50px;
}

.searchInput {
    padding: 20px;
}

.searchIcon {
    width: 30px;
    margin-left: -40px;
}

.ontop {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    /* background-color: rgba(221,221,221,255) */

}

.topask {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    width: 300px;
    padding: 2rem;
    gap: 20px;

}

.topask:hover {
    opacity: 0.9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5)
}

.ask {
    width: 100px;
}

.icons {
    width: 70px;
}

h3 {
    text-align: center;
}

.popularquestionsdiv {
    background-color: rgba(221, 221, 221, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;
}

.popularquestionsdivtext {
    text-align: center;
    margin-top: 200px;

}

.question {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.votesIcons {
    width: 50px;
}

.votesIcons:hover {
    opacity: 50%;
}

.questionContent {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.description {
    text-align: center;
}

h5:hover {
    color: rgba(110, 110, 238, 255);

}

.viewQuestion {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.answer {
    display: flex;
}

/* Mobile Styles */
@media (max-width: 767px) {
    input {
        width: 100%;
        height: 40px;
        margin-bottom: 1rem;
    }

    .brandDiv {
        margin-top: 2rem;
    }

    .searchInput {
        padding: 10px;
        width: 400px;
    }

    .searchIcon {
        width: 20px;
        margin-left: -30px;
    }

    .ontop {
        justify-content: space-around;
        margin-top: 3rem;
        gap: 20px;
    }

    .ask {
        width: 80%;
        margin-bottom: 1rem;
    }

    .icons {
        width: 30%;
        margin-bottom: 1rem;
    }

    .topask {
        width: 100%;
        margin-bottom: 1rem;

    }

    .popularquestionsdivtext {
        margin-top: 10rem;
    }

    .question {
        width: 100%;
        padding: 1rem;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .votes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .votesIcons {
        width: 30px;
    }

    .questionContent {
        width: 100%;
        align-items: center;
        gap: 1rem;
    }

    .viewQuestion {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .answer {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
    input {
        width: 100%;
        height: 40px;
        margin-bottom: 1rem;
    }

    .brandDiv {
        margin-top: 2rem;
    }

    .searchInput {
        padding: 10px;
        width: 400px;
    }

    .searchIcon {
        width: 20px;
        margin-left: -30px;
    }

    .ontop {
        justify-content: space-around;
        margin-top: 3rem;
        gap: 20px;
    }

    .ask {
        width: 80%;
        margin-bottom: 1rem;
    }

    .icons {
        width: 30%;
        margin-bottom: 1rem;
    }


    .topask {
        width: 300px;
        margin-bottom: 1rem;
    }

    .popularquestionsdivtext {
        margin-top: 10rem;
    }

    .question {
        width: 100%;
        padding: 1rem;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        gap: 1rem;
    }

    .votes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .votesIcons {
        width: 30px;
    }

    .questionContent {
        width: 100%;
        align-items: center;
        gap: 1rem;
    }

    .viewQuestion {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .answer {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

/* Desktop Styles */