* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    background-color: rgba(221, 221, 221, 1);
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title,
.description,
.tags {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(110, 110, 238, 0.5);
}

textarea {
    height: 150px;
}

button {
    color: white;
    background-color: rgba(110, 110, 238, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
}

span {
    color: red;
}

input::placeholder {
    color: white;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.invalid {
    background-color: rgba(110, 110, 238, 1);
}

.valid {
    background-color: cadetblue;
}

/* media queries */
@media screen and (max-width: 767px) {
    form {
        padding-bottom: 0;
    }

    textarea {
        height: 100px;
    }
}